<a href="https://colab.research.google.com/github/Kyoungjinny/AI_PredictionModel/blob/preprocess/AI_%EC%84%9C%EC%9A%B8%EB%8C%80%EA%B3%B5%EC%9B%90_preprocessing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#from google.colab import drive
#drive.mount('/content/gdrive')

In [0]:
from google.colab import files
uploaded = files.upload()

Saving data2005.csv to data2005.csv
Saving data2006.csv to data2006.csv
Saving data2007.csv to data2007.csv
Saving data2008.csv to data2008.csv
Saving data2009.csv to data2009.csv
Saving data2010.csv to data2010.csv
Saving data2011.csv to data2011.csv
Saving data2012.csv to data2012.csv
Saving data2013.csv to data2013.csv
Saving data2014.csv to data2014.csv
Saving data2015.csv to data2015.csv
Saving data2016.csv to data2016.csv
Saving data2017.csv to data2017.csv
Saving data2018.csv to data2018.csv
Saving data2019.csv to data2019.csv

In [0]:
import pandas as pd
import numpy as np

In [0]:
!ls

'data2005 (1).csv'  'data2009 (1).csv'	'data2013 (1).csv'  'data2017 (1).csv'
'data2005 (2).csv'  'data2009 (2).csv'	'data2013 (2).csv'  'data2017 (2).csv'
 data2005.csv	     data2009.csv	 data2013.csv	     data2017.csv
'data2006 (1).csv'  'data2010 (1).csv'	'data2014 (1).csv'  'data2018 (1).csv'
'data2006 (2).csv'  'data2010 (2).csv'	'data2014 (2).csv'  'data2018 (2).csv'
 data2006.csv	     data2010.csv	 data2014.csv	     data2018.csv
'data2007 (1).csv'  'data2011 (1).csv'	'data2015 (1).csv'  'data2019 (1).csv'
'data2007 (2).csv'  'data2011 (2).csv'	'data2015 (2).csv'  'data2019 (2).csv'
 data2007.csv	     data2011.csv	 data2015.csv	     data2019.csv
'data2008 (1).csv'  'data2012 (1).csv'	'data2016 (1).csv'   sample_data
'data2008 (2).csv'  'data2012 (2).csv'	'data2016 (2).csv'
 data2008.csv	     data2012.csv	 data2016.csv

In [0]:
import io
data2018 = pd.read_csv(io.BytesIO(uploaded['data2018.csv']))

In [0]:
data2013 = pd.read_csv(io.BytesIO(uploaded['data2013.csv']))

*Dropping unnecessary rows*

In [0]:
# drop '월계' row
data2013.drop(data2013.loc[data2013['months']=='월 계'].index, inplace=True)

In [0]:
data2019 = pd.read_csv(io.BytesIO(uploaded['data2019.csv']))
data2017 = pd.read_csv(io.BytesIO(uploaded['data2017.csv']))
data2016 = pd.read_csv(io.BytesIO(uploaded['data2016.csv']))
data2015 = pd.read_csv(io.BytesIO(uploaded['data2015.csv']))
data2014 = pd.read_csv(io.BytesIO(uploaded['data2014.csv']))
data2012 = pd.read_csv(io.BytesIO(uploaded['data2012.csv']))
data2011 = pd.read_csv(io.BytesIO(uploaded['data2011.csv']))
data2010 = pd.read_csv(io.BytesIO(uploaded['data2010.csv']))
data2009 = pd.read_csv(io.BytesIO(uploaded['data2009.csv']))
data2008 = pd.read_csv(io.BytesIO(uploaded['data2008.csv']))
data2007 = pd.read_csv(io.BytesIO(uploaded['data2007.csv']))
data2006 = pd.read_csv(io.BytesIO(uploaded['data2006.csv']))
data2005 = pd.read_csv(io.BytesIO(uploaded['data2005.csv']))

In [0]:
data2017.drop(data2017.loc[data2017['months']=='월계'].index, inplace=True)
data2017.drop(data2017.loc[data2017['months'].isna()].index, inplace=True)

In [0]:
data2019.drop(data2019.loc[data2019['months']=='월계'].index, inplace=True)
data2018.drop(data2018.loc[data2018['months']=='월계'].index, inplace=True)
data2016.drop(data2016.loc[data2016['months'].isna()].index, inplace=True)
data2015.drop(data2015.loc[data2015['months']=='월별입장객수'].index, inplace=True)

In [0]:
data2014.drop(data2014.loc[data2014['months']=='월 계'].index, inplace=True)
data2013.drop(data2013.loc[data2013['months']=='월 계'].index, inplace=True)
data2012.drop(data2019.loc[data2012['months']=='월 계'].index, inplace=True)
data2012.drop(data2012.loc[data2012['months']=='월 계'].index, inplace=True)
data2011.drop(data2011.loc[data2011['months']=='월 계'].index, inplace=True)
data2010.drop(data2010.loc[data2010['months']=='월 계'].index, inplace=True)
data2009.drop(data2009.loc[data2009['months']=='월 계'].index, inplace=True)
data2008.drop(data2008.loc[data2008['months']=='월 계'].index, inplace=True)
data2007.drop(data2007.loc[data2007['months']=='월 계'].index, inplace=True)
data2006.drop(data2006.loc[data2006['months']=='월 계'].index, inplace=True)
data2005.drop(data2005.loc[data2005['months']=='월 계'].index, inplace=True)

*계절 추가*

In [0]:
# 'season' 임의로 추가 
data2018['season'] = np.nan

In [0]:
# 월별에 따라 'season' 칼럼에 분류 
seasons = {'1월':'winter', '2월':'winter', '3월':'spring', '4월':'spring', '5월':'spring', '6월':'summer',
           '7월':'summer', '8월':'summer', '9월':'fall', '10월':'fall', '11월':'fall', '12월':'winter'}
data2018['season'] = data2018['Unnamed: 0'].map(seasons)

In [0]:
# 계절별로 one hot encoding
def process_season(df):
  data_dummies = pd.get_dummies(df['season'])
  df = pd.concat([df, data_dummies],axis=1)
  #df.drop(['season'],axis=1,inplace=True)
  return df

In [0]:
data2018 = process_season(data2018)

In [0]:
data2019['season'] = np.nan
data2017['season'] = np.nan
data2016['season'] = np.nan
data2015['season'] = np.nan
data2014['season'] = np.nan
data2013['season'] = np.nan
data2012['season'] = np.nan
data2011['season'] = np.nan
data2010['season'] = np.nan
data2009['season'] = np.nan
data2008['season'] = np.nan
data2007['season'] = np.nan
data2006['season'] = np.nan
data2005['season'] = np.nan

In [0]:
data2019['season'] = data2019['Unnamed: 0'].map(seasons)
data2017['season'] = data2017['Unnamed: 0'].map(seasons)
data2016['season'] = data2016['Unnamed: 0'].map(seasons)
data2016['season'] = data2016['Unnamed: 0'].map(seasons)
data2015['season'] = data2015['Unnamed: 0'].map(seasons)
data2014['season'] = data2014['Unnamed: 0'].map(seasons)
data2013['season'] = data2013['Unnamed: 0'].map(seasons)
data2012['season'] = data2012['Unnamed: 0'].map(seasons)
data2011['season'] = data2011['Unnamed: 0'].map(seasons)
data2010['season'] = data2010['Unnamed: 0'].map(seasons)
data2009['season'] = data2009['Unnamed: 0'].map(seasons)
data2008['season'] = data2008['Unnamed: 0'].map(seasons)
data2007['season'] = data2007['Unnamed: 0'].map(seasons)
data2006['season'] = data2006['Unnamed: 0'].map(seasons)
data2005['season'] = data2005['Unnamed: 0'].map(seasons)

In [0]:
data2019 = process_season(data2019)
data2017 = process_season(data2017)
data2016 = process_season(data2016)
data2015 = process_season(data2015)
data2014 = process_season(data2014)
data2013 = process_season(data2013)
data2012 = process_season(data2012)
data2011 = process_season(data2011)
data2010 = process_season(data2010)
data2009 = process_season(data2009)
data2008 = process_season(data2008)
data2007 = process_season(data2007)
data2006 = process_season(data2006)
data2005 = process_season(data2005)

*방학 추가*

In [0]:
vacation = {'1월':'winter', '2월':'winter', '7월':'summer', '8월':'summer'}

data2018['break'] = np.nan
data2018['break'] = data2018['Unnamed: 0'].map(vacation)
data2018 = pd.get_dummies(data=data2018, columns=['break'], prefix='break')

data2019['break'] = np.nan
data2019['break'] = data2019['Unnamed: 0'].map(vacation)
data2019 = pd.get_dummies(data=data2019, columns=['break'], prefix='break')

data2017['break'] = np.nan
data2017['break'] = data2017['Unnamed: 0'].map(vacation)
data2017 = pd.get_dummies(data=data2017, columns=['break'], prefix='break')

data2016['break'] = np.nan
data2016['break'] = data2016['Unnamed: 0'].map(vacation)
data2016 = pd.get_dummies(data=data2016, columns=['break'], prefix='break')

data2015['break'] = np.nan
data2015['break'] = data2015['Unnamed: 0'].map(vacation)
data2015 = pd.get_dummies(data=data2015, columns=['break'], prefix='break')

data2014['break'] = np.nan
data2014['break'] = data2014['Unnamed: 0'].map(vacation)
data2014 = pd.get_dummies(data=data2014, columns=['break'], prefix='break')

data2013['break'] = np.nan
data2013['break'] = data2013['Unnamed: 0'].map(vacation)
data2013 = pd.get_dummies(data=data2013, columns=['break'], prefix='break')

data2012['break'] = np.nan
data2012['break'] = data2012['Unnamed: 0'].map(vacation)
data2012 = pd.get_dummies(data=data2012, columns=['break'], prefix='break')

data2011['break'] = np.nan
data2011['break'] = data2011['Unnamed: 0'].map(vacation)
data2011 = pd.get_dummies(data=data2011, columns=['break'], prefix='break')

data2010['break'] = np.nan
data2010['break'] = data2010['Unnamed: 0'].map(vacation)
data2010 = pd.get_dummies(data=data2010, columns=['break'], prefix='break')

data2009['break'] = np.nan
data2009['break'] = data2009['Unnamed: 0'].map(vacation)
data2009 = pd.get_dummies(data=data2009, columns=['break'], prefix='break')

data2008['break'] = np.nan
data2008['break'] = data2008['Unnamed: 0'].map(vacation)
data2008 = pd.get_dummies(data=data2008, columns=['break'], prefix='break')

data2007['break'] = np.nan
data2018['break'] = data2018['Unnamed: 0'].map(vacation)
data2018 = pd.get_dummies(data=data2018, columns=['break'], prefix='break')

data2006['break'] = np.nan
data2006['break'] = data2006['Unnamed: 0'].map(vacation)
data2006 = pd.get_dummies(data=data2006, columns=['break'], prefix='break')

data2005['break'] = np.nan
data2005['break'] = data2005['Unnamed: 0'].map(vacation)
data2005 = pd.get_dummies(data=data2005, columns=['break'], prefix='break')
data2005

    Unnamed: 0  Unnamed: 1  months  ...  winter  break_summer  break_winter
0           1월           5  01월01일  ...       1             0             1
1           1월           6  01월02일  ...       1             0             1
2           1월           7  01월03일  ...       1             0             1
3           1월           8  01월04일  ...       1             0             1
4           1월           9  01월05일  ...       1             0             1
..         ...         ...     ...  ...     ...           ...           ...
371        12월          31  12월27일  ...       1             0             0
372        12월          32  12월28일  ...       1             0             0
373        12월          33  12월29일  ...       1             0             0
374        12월          34  12월30일  ...       1             0             0
375        12월          35  12월31일  ...       1             0             0

[365 rows x 50 columns]

In [0]:
df.to_csv("filename.csv")

In [0]:
data2018.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2019.drop(['weather','month_01',	'month_02',	'month_03',	'month_04'],axis=1,inplace=True)

In [0]:
data2017.drop(['weather',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2016.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2015.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2014.drop(['weather','month_01',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2013.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2012.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2011.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2010.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2009.drop(['weather',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2008.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2007.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2006.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2005.drop(['weather','month_01',	'month_02',	'month_03',	'month_04',	'month_05',	'month_06',	'month_07',
               'month_08',	'month_09',	'month_10',	'month_11',	'month_12'],axis=1,inplace=True)

In [0]:
data2019.drop(['season'],axis=1,inplace=True)

In [0]:
data2018.drop(['season'],axis=1,inplace=True)
data2017.drop(['season'],axis=1,inplace=True)
data2016.drop(['season'],axis=1,inplace=True)
data2015.drop(['season'],axis=1,inplace=True)
data2014.drop(['season'],axis=1,inplace=True)
data2013.drop(['season'],axis=1,inplace=True)
data2012.drop(['season'],axis=1,inplace=True)
data2011.drop(['season'],axis=1,inplace=True)
data2010.drop(['season'],axis=1,inplace=True)
data2009.drop(['season'],axis=1,inplace=True)
data2008.drop(['season'],axis=1,inplace=True)
data2007.drop(['season'],axis=1,inplace=True)
data2006.drop(['season'],axis=1,inplace=True)
data2005.drop(['season'],axis=1,inplace=True)

In [0]:
data2019.to_csv("data2019.csv")
data2018.to_csv("data2018.csv")
data2017.to_csv("data2017.csv")
data2016.to_csv("data2016.csv")
data2015.to_csv("data2015.csv")
data2014.to_csv("data2014.csv")
data2013.to_csv("data2013.csv")
data2012.to_csv("data2012.csv")
data2011.to_csv("data2011.csv")
data2010.to_csv("data2010.csv")
data2009.to_csv("data2009.csv")
data2008.to_csv("data2008.csv")
data2007.to_csv("data2007.csv")
data2006.to_csv("data2006.csv")
data2005.to_csv("data2005.csv")